
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>NodeAuth</title>

    <!-- Bootstrap core CSS -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/stylesheets/style.css" rel="stylesheet">
  </head>

  <body class="text-center">

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand">NodeAuth</h3>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link" href="/">Home</a>
            <a class="nav-link" href="/signup">Sign Up</a>
            <a class="nav-link active" href="/profile">Profile</a>
            <% if(isAuthenticated){ %>
                <a class="nav-link" href="/logout">Log Out</a>
            <% }else{ %>
            <a class="nav-link" href="/login">Login</a>
            <% } %>
        </nav>
        </div>
      </header>

      <main role="main" class="inner cover">
        <div class="card">
            <div class="card-body">
              <h5 class="card-title">Profile</h5>
              <p class="card-text"><strong>id</strong>: <%= user.id %></p>
              <p class="card-text"><strong>username</strong>: <%= user.username %></p>
              <p class="card-text"><strong>password</strong>: <%= user.password %></p>
            </div>
          </div>
      </main>

      <footer class="mastfoot mt-auto">
        <div class="inner">
        </div>
      </footer>

    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="/javascripts/popper.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
  </body>
</html>
